<p id="notice"><%= notice %></p>

<h1>People</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rg</th>
      <th>Cpf</th>
      <th>Occupation</th>
      <th>Company</th>
      <th>Address</th>
      <th>Neighborhood</th>
      <th>Referece point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.rg %></td>
        <td><%= person.cpf %></td>
        <td><%= person.occupation %></td>
        <td><%= person.company %></td>
        <td><%= person.address %></td>
        <td><%= person.neighborhood %></td>
        <td><%= person.referece_point %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
