<div class="col-xs-12">
  <h2>Altere sua senha</h2>
</div>
<%= devise_error_messages! %>
<div class="col-lg-3 col-md-4 col-xs-12">
  <%= form_for(resource, as: resource_name, :class => "form-group", url: password_path(resource_name), html: {method: :put}) do |f| %>
      <%= f.hidden_field :reset_password_token, :class => "form-control" %>

      <div class="col-xs-12">
        <%= f.label :password, "Nova senha" %>
        <%= f.password_field :password, :class => "form-control", autofocus: true, autocomplete: "off" %>
      </div>
      <div class="col-xs-12">
        <p></p>
        <%= f.label :password_confirmation, "Confirmar nova senha" %>
        <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
      </div>

      <div class="col-xs-12">
        <p></p>
        <%= f.submit "Alterar senha", :class => "btn btn-primary" %>
      </div>
  <% end %>

</div>