<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type %>
    <%= form.select :type, options_for_select(form.object.class.translated_types.map { |translation, k, _v| [translation, k] })  %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, options_for_select(form.object.class.translated_sizes.map { |translation, k, _v| [translation, k] })  %>
  </div>

  <div class="field">
    <%= form.label :fur %>
    <%= form.select :fur, options_for_select(form.object.class.translated_furs.map { |translation, k, _v| [translation, k] })  %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.select :color, options_for_select(form.object.class.translated_colors.map { |translation, k, _v| [translation, k] })  %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select :gender, options_for_select(form.object.class.translated_genders.map { |translation, k, _v| [translation, k] })  %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, id: :animal_birthdate, start_year: 2000 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :animal_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
