<%= form_with(model: animal, local: true) do |form| %>
    <div class="container modal-body">
      <div class="container col-xs-12 col-sm-6">

        <div class="col-xs-6">
          <%= form.label :code %>
          <%= form.text_field :code, id: :code, :id => "code", :class => "form-control" %>
        </div>

        <div class="col-xs-12">
          <%= form.label :name, :class => "required" %>
          <%= form.text_field :name, id: :name, :id => "name", :class => "form-control" %>
        </div>

        <div class="col-xs-5">
          <%= form.label :size %>
          <%= form.select :size, options_for_select(form.object.class.translated_sizes.map {|translation, k, _v| [translation, k]}), {}, {:class => "form-control", :id => "size"} %>
        </div>

        <div class="col-xs-7">
          <%= form.label :pet_type %>
          <%= form.select :pet_type, options_for_select(form.object.class.translated_pet_types.map {|translation, k, _v| [translation, k]}),
                          {}, {:class => "form-control", :id => "pet_type"} %>
        </div>

        <div class="col-xs-5">
          <%= form.label :gender %>
          <%= form.select :gender, options_for_select(form.object.class.translated_genders.map {|translation, k, _v| [translation, k]}), {},
                          {:class => "form-control", :id => "gender"} %>
        </div>

        <div class="col-xs-7">
          <%= form.label :birthdate, :class => "required" %>
          <%= form.text_field :birthdate, id: :animal_birthdate, :type => "date", :class => "form-control", :id => "birthdate" %>
        </div>

        <div class="col-xs-8">
          <%= form.label :color %>
          <%= form.select :color, options_for_select(form.object.class.translated_colors.map {|translation, k, _v| [translation, k]}), {},
                          {:class => "form-control", :id => "color"} %>
        </div>

        <div class="col-xs-8">
          <%= form.label :fur %>
          <%= form.select :fur, options_for_select(form.object.class.translated_furs.map {|translation, k, _v| [translation, k]}), {},
                          {:class => "form-control", :id => "fur"} %>
        </div>

        <div class="col-xs-12">
          <%= form.label :description %>
          <%= form.text_area :description, id: :animal_description, :class => "form-control", :id => "description" %>
        </div>

        <div class="modal-footer">
          <div class="container col-xs-12 btn-top-margin">
            <a onclick="animals.create()" class="btn btn-primary">Salvar</a>
            <!--<%= form.submit 'Salvar', :class => "btn btn-primary" %>-->
            <%= link_to 'Cancelar', animals_path, :class => "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
<% end %>

