<div class="container col-sm-6 col-md-4 col-lg-4 col-xs-12">
  <div class="container highlight col-sm-12 col-md-12 col-lg-12 col-xs-12"><%= animal.name %></div>
  <div class="container col-sm-12 col-md-12 col-lg-12 col-xs-12 animal-block">
    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.pet_type' %></div>
        </b>
        <span><%= I18n.t(animal.pet_type, scope: 'activerecord.attributes.animal.pet_type_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.size' %></div>
        </b>
        <span><%= I18n.t(animal.size, scope: 'activerecord.attributes.animal.size_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.fur' %></div>
        </b>
        <span><%= I18n.t(animal.fur, scope: 'activerecord.attributes.animal.fur_list') %></span>
      </p>
    </div>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.color' %></div>
        </b>
        <span><%= I18n.t(animal.color, scope: 'activerecord.attributes.animal.color_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.gender' %></div>
        </b>
        <span><%= I18n.t(animal.gender, scope: 'activerecord.attributes.animal.gender_list') %></span>
      </p>
      <p>
        <a href="animals/<%= animal.id %>" class="btn btn-default">Consultar</a>
      </p>
    </div>
  </div>
</div>