<div class="container col-sm-6 col-md-12 col-lg-4 col-xs-12">
  <div class="container highlight-<%= animal.pet_type %> col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <span><%= I18n.t(animal.pet_type, scope: 'activerecord.attributes.animal.pet_type_list') %>
      - <%= animal.name %></span>
  </div>
  <div class="container col-sm-12 col-md-12 col-lg-12 col-xs-12 animal-block">

    <% if !animal.code.blank? then %>
        <div class="col-xs-12 col-sm-12">
          <p>
            <b>
              <div><%= I18n.t 'activerecord.attributes.animal.code' %></div>
            </b>
            <span><%= animal.code %> <%= "Sem tag" if animal.code.blank? %></span>
          </p>
        </div>
    <% end %>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.pet_type' %></div>
        </b>
        <span><%= I18n.t(animal.pet_type, scope: 'activerecord.attributes.animal.pet_type_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.size' %></div>
        </b>
        <span><%= I18n.t(animal.size, scope: 'activerecord.attributes.animal.size_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.fur' %></div>
        </b>
        <span><%= I18n.t(animal.fur, scope: 'activerecord.attributes.animal.fur_list') %></span>
      </p>
    </div>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.color' %></div>
        </b>
        <span><%= I18n.t(animal.color, scope: 'activerecord.attributes.animal.color_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.gender' %></div>
        </b>
        <span><%= I18n.t(animal.gender, scope: 'activerecord.attributes.animal.gender_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.birthdate' %></div>
        </b>
        <span><%= animal.birthdate %></span>
      </p>
    </div>

    <% if !animal.description.blank? then %>
        <div class="col-xs-12 col-sm-12">
          <p>
            <b>
              <div><%= I18n.t 'activerecord.attributes.animal.description' %></div>
            </b>
            <span><%= animal.description %></span>
          </p>
        </div>
    <% end %>

    <div class="col-xs-12 col-sm-12">
      <a href="<%= edit_animal_path(@animal) %>" class="btn btn-default">Editar</a>
    </div>
  </div>
</div>