<div class="container col-sm-6 col-md-12 col-lg-4 col-xs-12">
  <div class="container highlight-<%= animal.pet_type %> col-sm-12 col-md-12 col-lg-12 col-xs-12">
    <span><%= I18n.t(animal.pet_type, scope: 'activerecord.attributes.animal.pet_type_list') %>
      - <%= animal.name %></span>
    <div class="pull-right">

      <button data-toggle="modal" data-target="#edit-<%= animal.id %>AnimalModal" class="btn btn-default btn-xs">
        <span class="glyphicon glyphicon-pencil"></span></button>
    </div>
  </div>
  <div class="container col-sm-12 col-md-12 col-lg-12 col-xs-12 animal-block">

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.id' %></div>
        </b>
        <span><%= animal.id %> </span>
      </p>
    </div>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.code' %></div>
        </b>
        <span><%= !animal.code.blank? ? animal.code : '-' %></span>
      </p>
    </div>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.pet_type' %></div>
        </b>
        <span><%= I18n.t(animal.pet_type, scope: 'activerecord.attributes.animal.pet_type_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.size' %></div>
        </b>
        <span><%= I18n.t(animal.size, scope: 'activerecord.attributes.animal.size_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.fur' %></div>
        </b>
        <span><%= I18n.t(animal.fur, scope: 'activerecord.attributes.animal.fur_list') %></span>
      </p>
    </div>

    <div class="col-xs-6 col-sm-6">
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.color' %></div>
        </b>
        <span><%= I18n.t(animal.color, scope: 'activerecord.attributes.animal.color_list') %></span>
      </p>
      <p>
        <b>
          <div><%= I18n.t 'activerecord.attributes.animal.gender' %></div>
        </b>
        <span><%= I18n.t(animal.gender, scope: 'activerecord.attributes.animal.gender_list') %></span>
      </p>
      <p>
        <b>
          <div>Idade <%= " aproximada" if animal.approximated_born %></div>
        </b>
        <span><%= animal.age.to_s + " ano".pluralize(animal.age) %></span>
      </p>
    </div>

    <% if !animal.description.blank? then %>
        <div class="col-xs-12 col-sm-12">
          <p>
            <b>
              <div><%= I18n.t 'activerecord.attributes.animal.description' %></div>
            </b>
            <span><%= animal.description %></span>
          </p>
        </div>
    <% end %>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <div class="container highlight-black-font col-xs-12 col-sm-12">
        <span>Informações adicionais</span>
      </div>
      <div class="container col-sm-12 col-md-12 col-lg-12 col-xs-12 animal-info-block">
        <ul class="list-unstyled">
          <li>Localização: <%= animal.placement %></li>
          <li>Responsável: <%= animal.person.name %></li>
          <% if animal.castred %>
              <li><%= "Castrado" %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 checkbox">
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-donate-<%= animal.id %>">
        Doar
      </button>
    </div>
  </div>
</div>

<%= render :template => "animals/edit", :locals => {:@animal => animal} %>
<%= render :template => "adoption/donate", :locals => {:@animal => animal} %>
